{{define "main"}}
<div class="grid-container">
  <div class="grid">
    <div class="page" data-level="1">
      <div class="content">
        <h1>{{ .Title }}</h1>
        {{ .Content }}
      </div>
      {{ partial "backlinks.html" . }}
      </div>
   </div>
</div>
{{ $urijs := resources.Get "js/URI.js" }}
<script src="{{$urijs.Permalink}}" type="text/javascript"></script>
{{ $pagejs := resources.Get "js/page.js" }}
<script src="{{$pagejs.Permalink}}" type="text/javascript"></script>
{{end}}
