@import url("https://rsms.me/inter/inter.css");
html {
  font-family: "Inter", sans-serif;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}

body {
  overflow: hidden;
}

p,
li {
  font-size: 12px;
  line-height: 17px;
  -webkit-letter-spacing: -0.017%;
  -moz-letter-spacing: -0.017%;
  -ms-letter-spacing: -0.017%;
  letter-spacing: -0.017%;
}

h1 {
  font-size: 20px;
}
h2 {
  font-size: 16px;
}
h3 {
  font-size: 14px;
}

.page {
  border: none;
  overflow: hidden;
  padding: 0;
  height: 100%;
}

.page > .content {
  padding: 10px;
  border-radius: 0;
  height: 100%;
}

a {
  user-select: none;
  pointer-events: none;
  color: rgba(10, 132, 255, 1);
}
