@tailwind base;
ol {
  list-style-type: decimal;
}
ul {
  list-style-type: disc;
}
@tailwind components;
@tailwind utilities;

/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Gentium+Book+Basic:400,700&display=swap');

/* Setup */
html {
  font-family: 'Gentium Book Basic', serif;
  font-size: 16px;
  @apply text-gray-900 bg-pink-100;
}

/* Typography */

h1 {
  @apply text-3xl mt-16 mb-6 leading-none;
}


h2 {
  @apply text-2xl italic mt-12 mb-4 leading-none;
}

h3 {
  @apply text-xl italic mt-8 mb-2 leading-none;
}

@screen md {
  h1 { @apply text-4xl; }
  h2 { @apply text-3xl; }
  h3 { @apply text-2xl; }
}


dl:after {content:"";display:table;clear:both;}
dd {
  padding:.5em 0;
}
dl {
  width:100%;
}
dt, dd {
  display:inline-block;
  width: 30%;
  @apply text-base;
}
dt {
  text-align:right;
  font-weight:bold;
  clear:left;
  float:left;
}
dd {
  width:70%;
  padding-left:1em;
  clear:right;
}
dd + dd {
  float:right;
  clear:both;
}
dt:first-child {
  padding-top:.5em;
}
dd + dt {
  clear:both;
  padding-top:.5em;
}
dt + dt {
  width: 100%;
  float: none;
  padding: 0 70% 0 0;
}
dt + dt + dd {
  margin-top: -2em;
}
dt + dt + dd + dt {
  margin-top: 2em;
}

a:link {
  text-decoration: none;
  background: -webkit-linear-gradient(#fffff8, #fffff8), -webkit-linear-gradient(#fffff8, #fffff8), -webkit-linear-gradient(currentColor, currentColor);
  background: linear-gradient(#fffff8, #fffff8), linear-gradient(#fffff8, #fffff8), linear-gradient(currentColor, currentColor);
  -webkit-background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
  -moz-background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
  background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
  background-repeat: no-repeat, no-repeat, repeat-x;
  text-shadow: 0.03em 0 #fffff8, -0.03em 0 #fffff8, 0 0.03em #fffff8, 0 -0.03em #fffff8, 0.06em 0 #fffff8, -0.06em 0 #fffff8, 0.09em 0 #fffff8, -0.09em 0 #fffff8, 0.12em 0 #fffff8, -0.12em 0 #fffff8, 0.15em 0 #fffff8, -0.15em 0 #fffff8;
  background-position: 0% 93%, 100% 93%, 0% 93%;
}

a:link::selection,
a:link::-moz-selection {
  text-shadow: 0.03em 0 #b4d5fe, -0.03em 0 #b4d5fe, 0 0.03em #b4d5fe, 0 -0.03em #b4d5fe, 0.06em 0 #b4d5fe, -0.06em 0 #b4d5fe, 0.09em 0 #b4d5fe, -0.09em 0 #b4d5fe, 0.12em 0 #b4d5fe, -0.12em 0 #b4d5fe, 0.15em 0 #b4d5fe, -0.15em 0 #b4d5fe;
  background: #b4d5fe;
}

p, ol, ul {
  @apply text-base leading-relaxed align-baseline;
}

p {
  @apply text-justify;
}

ol, ul {
  @apply ml-5;
}

p {
  margin-top: 1.4rem;
  margin-bottom: 1.4rem;
  padding-right: 0;
  vertical-align: baseline;
}

/* Autocomplete */
.search-wrapper {
  padding: 1.3em .8em 1em;
  max-width: 590px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  float: none;
  width: 70%;
}
.search-wrapper input {
  @apply text-lg p-3;
  border-radius: 2px;
  border: 1px solid #f2f2f2;
  color: #757575;
  cursor: default;
  font-weight: bold;
  width: 100%;
  padding: 0 16px;
  height: 48px;
}

.plain-link:link {
  background:none;
}

/* Dropcase */
.dropcase > p:first-of-type::first-letter {
  @apply text-5xl;
  float: left;
  line-height: 1;
  margin: 0.05em 0.15em -0.1em 0;
  /* initial-letter: 2; Maybe someday*/
}

.search_results {
  @apply relative border-gray-300 border border-t-0 list-none;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
}

.search_results li {
  @apply p-4;
}

.search_results li:hover {
  @apply bg-gray-200;
}

.search_results li a {
  background: none;
}

a:target {
    @apply bg-orange-200;
}
