@import url("https://rsms.me/inter/inter.css");

html,
body {
  font-family: "Inter", sans-serif;
  display: flex;
  flex-flow: column;
  background: #fafafc;
  line-height: 1.4;
  width: 100%;
  height: 100%;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

h1 {
  margin-bottom: 16px;
}

h2 {
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}

h1 {
  font-size: 1.7em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.3em;
}

h4 {
  font-size: 1.1em;
}

p {
  margin-bottom: 1em;
}

header {
  display: flex;
  align-items: center;
  background: #fff;
  border-bottom: 1px #ccc solid;
  padding: 2px;
}

.site-title {
  padding: 0;
  margin: 0;
}

#logo {
  display: inline-block;
  margin: 5px;
}

#logo svg {
  width: 30px;
  height: 30px;
}

.grid-container {
  flex: 1;
  display: flex;
  overflow-x: auto !important;
  white-space: nowrap;
  flex-grow: 1;
}

.grid {
  max-width: 100%;
  flex-grow: 1;
}

.page {
  white-space: normal;
  background: #ffffff;
  border-left: 1px solid rgba(0, 0, 0, 0.05);
  display: inline-block;
  width: 100%;
  max-width: 625px;
  height: 100% !important;
  max-height: 100%;
  overflow-y: auto;
  vertical-align: top;
  box-sizing: border-box;
}

.page:last-child {
  margin-right: 15px;
}

.content {
  padding: 32px;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: rgba(10, 132, 255, 1);
}

a.active {
  background-color: rgba(10, 132, 255, 0.15);
}

a:hover {
  opacity: 0.5;
}

blockquote {
  margin-left: 1rem;
  font-style: italic;
  font-family: Georgia, bitstream charter, serif;
  border-left: 3px solid;
  border-left-color: currentcolor;
  border-color: var(--text-color);
  padding-left: 1em;
}

pre {
  overflow: auto;
  padding: 1em;
  margin: 1em auto;
}

img {
  max-width: 100%;
}

#svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  user-select: none;
}

iframe {
  overflow: hidden;
  overflow-y: hidden;
  border: none;
}

.tippy-box > .tippy-arrow:before {
  transform: scale(2);
}

.bl-section {
  padding: 2em 1em;
  background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.25),
      rgba(0, 0, 0, 0.125),
      rgba(0, 0, 0, 0.25)
    )
    no-repeat 50% 1em / 100% 1px;
}

.backlinks {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.bl-section h4 {
  color: #aaa;
  margin-top: 0;
}

.backlinks a {
  flex: 100%;
  color: rgba(10, 132, 255, 0.75);
}

dl {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 1em 0;
}
dl > * {
  padding-top: 0.5em;
}

dt {
  width: 30%;
  font-weight: bold;
  text-align: right;
}
dd {
  width: 60%;
  padding-left: 1em;
  margin-left: 0px;
}
dd + dd {
  width: 100%;
  padding-left: calc(30% + 1em);
}
dt + dt {
  padding-right: 60%;
}
dt + dt + dd {
  margin-top: -1.625em; /* own height including padding */
  padding-left: calc(30% + 1em);
}

@media only screen and (max-width: 600px) {
  body {
    flex-direction: column;
  }

  header {
    border-right-width: 0;
    border-bottom-width: 1px;
    padding: 10px 30px;
  }

  #logo {
    margin: 0;
  }

  #logo svg {
    width: 30px;
    height: 30px;
  }

  header > * {
    display: inline-block;
    margin-right: 10px;
  }

  .grid-container {
    padding: 0;
  }

  .page {
    padding-bottom: 150px;
  }
}
